Token Generation Issue

Unable to generate the token even after successful registration 

<img width="1440" alt="Image" src="https://github.com/user-attachments/assets/39db1efe-aab8-40c8-8d4b-2f3fa87e6bf8" />


the issue was because of short length of signing key:

[ : Login error: The signing key's size is 72 bits which is not secure enough for the HS256 algorithm.
The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HS256 MUST have a size >= 256 bits (the key
size must be greater than or equal to the hash output size). Consider using the io.jsonwebtoken.security.Keys class's 'secretKeyFor(SignatureAlgorithm.HS256)' method to create a key guaranteed to be secure enough for HS256. See https://tools.ietf.org/html/rfc7518#section-3.2 for more information. ]